<!DOCTYPE html>
<html>
<head>
  <title>BetaInvites</title>
  <%= stylesheet_link_tag    "beta_invites/application", media: "all" %>
  <%= javascript_include_tag "beta_invites/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
